<div class="container clearfix">
  <div class="chat">
    <div class="chat-header clearfix">
      <img class="avatarImage" src="../assets/tolga_1.png" alt="avatar" />
      <div class="chat-about">
        <div class="chat-with">Chat mit Tolga Babacan</div>
        <div class="chat-num-messages">{{_data.length}} Nachrichten</div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul style="list-style: none">
        <li [ngClass]="{'clearfix': data.sender === 'Melis'}" *ngFor="let data of _data">
          <div class="message-data" [ngClass]="{'align-right': data.sender === 'Melis'}">
            <span class="message-data-time">{{data.created_at}}</span> &nbsp; &nbsp;
            <span class="message-data-name" >{{data.sender}}</span> <i class="fa fa-circle me"></i>
          </div>
          <div class="message" *ngIf="data.text" [ngClass]="{'my-message': data.sender === 'Tolga', 'other-message float-right': data.sender === 'Melis'}">
            {{data.text}}
          </div>
          <div class="message notAvailable" *ngIf="!data.text" [ngClass]="{'my-message': data.sender === 'Tolga', 'other-message float-right': data.sender === 'Melis'}">
            Bild / Video wurde gesendet/geteilt und ist leider nicht mehr verfügbar! 😊
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->
  </div> <!-- end chat -->
</div> <!-- end container -->

